<h1>Stupid Coatch</h1>

<div class='answer'>
<h3><%= params[:question] %></h3>
<p><em>–You</em></p>
</div>

<div class='answer'>
<h3><%= @response %></h3>
<p><em>–Your coach</em></p>
</div>

<a href='/ask'>ask a new question</a>
